body {
}

#help-revert{
	max-height: 300px;
	padding: 15px;
}

.installimg{
	max-height: 300px;
	max-width: 200px;
}
.jumbotron {
	padding: 48px 96px;
}

.navbar-brand {
	font-family: 'Roboto';
	font-style: italic;
	letter-spacing: 1px;
}

.navbar-default {
	background-color: #acd8fb;
}

.header {
	text-align: center;
}

.divider {
	background-color: white;
	text-align: center;
}

.color-jumbotron {
	background-color: #EBE49A;
	min-height: 600px;
}

.col-md-4 p {
	padding: 10px;
}

.col-md-4 img {
	display: block;
	width: 70%;
	margin: auto;
}

.terminology{
	font-style: italic;
}